
.content {
  width: 100%;
  background-color: #151B23;
  padding: 2% 2%;
  margin-bottom: 2vh;
  border-radius: 10px;
  border: 0.1px solid #7b7b7b;

  .content_with_icon {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: flex-end;
  }

  .first_row {
    display: grid;
    grid-template-areas: 'i n w';
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    .owner_image {
      grid-area: i;
      max-width: 3vh;
      border-radius: 50%;
    }
    .full_name {
      grid-area: n;
      a:hover {
        color: #3369AE;
      }
    }
    .watchers {
      grid-area: w;
    }
    .starred {
      grid-area: s;
    }
  }

  .second_row {
    display: flex;
  }

}